<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Add Internet permission here -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" tools:node="remove"/>
    <!-- 사용 통계 접근 권한추가 -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigitalDetoxApp"
        tools:targetApi="31">

        <service
            android:name=".AppBlockAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".RegisterActivity" android:exported="true" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".StartActivity" android:exported="false" />
        <activity android:name=".CommunityActivity"/>
        <activity android:name=".InfoActivity" android:exported="false" />
        <activity android:name=".ChallengeDetailActivity" android:exported="false" />
        <activity android:name=".SuccessActivity" android:exported="false" />
        <activity android:name=".LevelInfoActivity" android:exported="false" />
        <activity android:name=".PostEditActivity" />
        <activity android:name=".ReviewActivity" />
        <activity android:name=".CreatePostActivity" />
        <activity android:name=".UserPostActivity" />
        <activity android:name=".RankingActivity" />
        <activity android:name=".PostDetailActivity" />
        <activity android:name=".TopTenActivity" />
        <activity android:name=".LevelUpActivity" android:exported="false" />

    </application>

</manifest>
